<mat-toolbar class="navbar-header">
    <span class="gap"><h3>Recipe Book</h3></span>
    <span class="gap">Recipes</span>
    <span class="gap">Shopping List</span>
    
    <span class = "filler"></span>

    <div ngbDropdown>
        <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Manage</button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button ngbDropdownItem>Help</button>
          <button ngbDropdownItem>Another Action</button>
        </div>
      </div>

</mat-toolbar>