<mat-toolbar class="navbar-header">
    <span class="gap">
        <h3>Recipe Book</h3>
    </span>
    <a class="active gap" routerLink="/recipes" >Recipes</a>
    <a routerLink="/shopping-list" class="gap">Shopping List</a>
    <span class="filler"></span>

    <div class="row">
        <div class="btn-group" 
        appDropdown>
            <button class="btn btn-dropdown">
                Manage
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" ngbDropdownItem>Help</a></li>
                <li><a style="cursor: pointer;" ngbDropdownItem>Another Action</a></li>
            </ul>
        </div>
    </div>

</mat-toolbar>