<div class="col-xs-5">
<div class="row">
    <div class="row pull-right">
        <img src="{{ recipe.imagePath }}"
            alt="{{ recipe.title }}"
            class="img-responsive" style="max-height: 220px;">
    </div>
    <div ngbDropdown>
        <button mat-button class="button" id="dropdownConfig" ngbDropdownToggle>Manage recipes
            <span class="caret"></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button ngbDropdownItem>To shopping list</button>
            <button ngbDropdownItem>Edit recipe</button>
            <button ngbDropdownItem>Delete recipe</button>
        </div>
    </div>
    <div class="row pull-left">  
        <h4>{{ recipe.title }}</h4>
        <div>{{ recipe.content }}</div>
    </div> 
    
</div>
</div>