<div class="col-xs-">
<div class="row">
    <div class="row pull-right">
        <img src="{{ recipe.imagePath }}"
            alt="{{ recipe.title }}"
            class="img-responsive" style="max-height: 220px;">
    </div>
    <div row>
        <div class="btn-group"
            appDropdown>
            <button mat-button class="button dropdown-toggle">
                Manage recipes
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onAddToShoppingList()" ngbDropdownItem>To shopping list</a></li>
                <li><a style="cursor: pointer;" ngbDropdownItem>Edit recipe</a></li>
                <li><a style="cursor: pointer;" ngbDropdownItem>Delete recipe</a></li>
            </ul>
        </div>
    </div>
    <div class="row pull-left">  
        <h4>{{ recipe.title }}</h4>
        <div>{{ recipe.content }}</div>
            <ul class="list-group">
                <div class="list-group-item clearfix"
                    *ngFor="let ingredient of recipe.ingredients">
                    <span class="pull-left">
                        <p>{{ ingredient.name }}</p>
                    </span>
                    <span class="pull-right">
                        <p>{{ ingredient.amount }}</p>
                    </span>
                </div>
            </ul>        
    </div> 
    
</div>
</div>